@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hero-button {
    @apply uppercase text-sm text-slate-200 tracking-widest md:tracking-[11px] transition-all duration-500 px-6 py-2 rounded-full hover:shadow-md hover:shadow-[#4E9F3D] hover:text-gray-700;
  }
}
* {
  user-select: none;
}
.form--input {
  width: 100%;
  border-radius: 0.25em;
  outline: none;
  background-color: rgb(156 163 175);
  color: rgb(17 24 39);
  font-weight: 400;
  padding: 0.25rem;
}

.form--input:focus {
  color: rgb(226 232 240);
  background-color: rgb(107 114 128);
  border-bottom: 1px solid rgb(187 247 208);
}

.skill {
  transform-style: preserve-3d;
  transition: 0.75s ease;
}
.skill:hover {
  transform: rotateY(180deg);
}
.skill-front,
.skill-back {
  transform: rotateY(180deg);
}
.skill-front {
  transform: rotateY(0);
  z-index: 1;
  backface-visibility: hidden;
}
.skill-back {
  z-index: 10;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.skill-back:hover {
  opacity: 1;
}
.card {
  cursor: pointer;
  z-index: 0;
  opacity: 0;
  transition: 500ms;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
}
.card--active {
  opacity: 1;
  transform: scale(1);
  z-index: 99;
  cursor: inherit;
}

.card--left {
  transform: translateX(-102%) scale(0.92);
  transition: 500ms;
  opacity: 0.75;
}

.card--right {
  transform: translateX(102%) scale(0.92);
  transition: 500ms;
  opacity: 0.75;
}

@media (max-width: 1023px) {
  .card {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 500ms;
    margin: 0;
  }

  .card--right {
    opacity: 0;
    transform: translate(120%, -50%);
  }
  .card--left {
    opacity: 0;
    transform: translate(-120%, -50%);
  }
}

.rainbowText {
  background: rgb(156 163 175);
  background: -webkit-linear-gradient(
    left,
    #a5494f,
    #4a57ba,
    #5f388b,
    #ad7e48,
    #a7a15a,
    #48864d
  );
  background: -o-linear-gradient(
    right,
    #a5494f,
    #4a57ba,
    #5f388b,
    #ad7e48,
    #a7a15a,
    #48864d
  );
  background: -moz-linear-gradient(
    right,
    #a5494f,
    #4a57ba,
    #5f388b,
    #ad7e48,
    #a7a15a,
    #48864d
  );
  background: linear-gradient(
    to right,
    #a5494f,
    #4a57ba,
    #5f388b,
    #ad7e48,
    #a7a15a,
    #48864d
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
